.title {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.43;
  letter-spacing: 0.46px;
  color: $color-text;
}
.title-small {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.61;
  letter-spacing: 1.72px;
  color: $color-text;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.61;
  letter-spacing: 1.72px;
  color: $color-text;
}

.text-wrap {
  max-width: 250px;
}
