.title {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.43;
  letter-spacing: 0.023em;
  color: $color-text;
}
.title-small {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.61;
  letter-spacing: 1.72px;
  color: $color-text;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.61;
  letter-spacing: 1.72px;
  color: $color-text;
  &_up {
    text-transform: uppercase;
  }
}

.text-wrap {
  max-width: 252px;
}

.link-small {
  font-size: 11.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.83;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4b9fb5;
  text-decoration: none;
}

.link {
  color: $color-btn;
  cursor: pointer;
  text-decoration: none;
}
